// app global css in SCSS form
@font-face {
  font-family:   'Noto Serif';
  font-style:    italic;
  font-weight:   400;
  src:           local('Noto Serif Italic'), local('NotoSerif-Italic'), url('./fonts/noto-sans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import url('https://fonts.googleapis.com/css?family=Arimo|Hind|Montserrat|Muli|Nunito+Sans|Open+Sans|Poppins|Rubik|Source+Sans+Pro|Work+Sans&display=swap');

body {
  font-family: Roboto, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.ck {
  &.name {
    font-family:    'Noto Serif', serif;
    text-transform: none;
    margin:         0;
    text-align:     center;
  }

  &.logo {
    img {
      max-width: 10rem;
      height:    auto;
    }
  }
}

.cursor-row-resize {
  cursor: row-resize;
}
